:root {
    --blue: #3498DB;
    --black: #202124;
    --light-gray: #B9BDC2;
    --gray: #303134;
    --html-color: #e44d26;
    --css-color: #1b73ba;
    --js-color: #f7df1e;
    --php-color: #787cb4;
}